<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780237506782-u23fh4cpcdrm96b2egho6f4d3akbpiec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780237506782-u23fh4cpcdrm96b2egho6f4d3akbpiec</string>
	<key>API_KEY</key>
	<string>AIzaSyAxb6yDHXH2ExwhpUZiE4hRcZ5HWb-nuH4</string>
	<key>GCM_SENDER_ID</key>
	<string>780237506782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nBaz</string>
	<key>PROJECT_ID</key>
	<string>mobileapplication-e7a77</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapplication-e7a77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780237506782:ios:a30c238d3ff2126a3f9a4f</string>
</dict>
</plist>