<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676989047141-gqkvl28nkufqgfpouke1rc2ge3pef46k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676989047141-gqkvl28nkufqgfpouke1rc2ge3pef46k</string>
	<key>API_KEY</key>
	<string>AIzaSyBwwh52iR3rvRVWt54Sf6q3PoqccnjQhkM</string>
	<key>GCM_SENDER_ID</key>
	<string>676989047141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nBaz</string>
	<key>PROJECT_ID</key>
	<string>albert-sir-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>albert-sir-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676989047141:ios:fc10d541a868d77e75118c</string>
</dict>
</plist>